.child {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;

}

.child mat-form-field {
    width: 100%;
}

.parent {
    display: flex;
    justify-content: center;


}