table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 17px;
    width: 25%;
    margin-top: 30px;
}

td,
th {
    width: 25%;
}

.icon {
    display: flex;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

ng-container img {
    width: 40px;
    height: 40px;
}